.btn {
    font-size: 10px;
}

td.accountRow {
    font-size: 12px;
    font-family: "Helvetica Neue", serif;
}

thead {
    font-size: 12px;
    font-family: "Helvetica Neue", serif;
}

#createButton {
    margin: 10px;
}

#accountHeader {
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.fixed-table-toolbar .btn {
    background-color: transparent;
    color: black;
}
